#creative-computing {
	.section-subtitle {
		align-self: start;
	}
	.section {
		min-height: initial;
	}
	.content {
		display: flex;
		flex-wrap: wrap;
	}
	iframe {
		border: none;
		min-width: 300px;
		min-height: 300px;
	}
	#me-puntinism {
		width: 300px;
		height: 300px;
		overflow: hidden;
		border: none;
	}

	.blog-image {
		display: grid;
		place-content: center;
		overflow: hidden;
	}

	.creative-subsection {
		overflow: hidden;
		display: flex;
		align-items: center;
		flex-direction: column;

		#music-player {
			width: 400px;
			height: 450px;
			border: none;
			overflow: hidden;
		}
	}
}

@media screen and (min-width: 768px) {
	#creative-computing {
		.blog-image {
			margin-top: initial;
		}
		.section {
			padding: 2rem clamp(1rem, 15vw, 20rem);
		}
		.sub-section {
			padding: clamp(2rem, 10vh, 6rem) 3rem;
		}
	}
}
@media screen and (min-width: 1200px) {
	.creative-subsection {
		align-items: start;
		flex: 0 50%;
	}
}
