:root{
  --banner-title-color: #{$hover-text-color-light-mode};

}



.navbar.top-page {
	background: var(--primary-accent-color);
	box-shadow: none;
	// .navbar-links {
	// 	ul {
	// 		li {
	// 			a {
	// 				color: white;
	// 				&:hover {
	// 					color: black;
	// 				}
	// 			}
	// 		}
	// 	}
	// }
}

.banner {
	padding-top: $navbar-height;
	height: 50vh;
	background: var(--primary-accent-color);
	display: flex;
	justify-content: center;
	align-items: center;
	.banner-title {
		font-size: clamp(2rem, 2.5vw, 5rem);
		text-align: center;
		color: var(--h1-color);
	}
}


.image-caption{
	padding: 0.5rem;
	text-align: right;
}

.blog-image{
	padding: 3rem 0 2rem 0;
}
