#education {
	background: var(--background-color2);
	#particles-links-card {
		video {
			max-height: 300px;
		}
	}
	#particles-smoke-card {
		video {
			max-height: 300px;
		}
	}
	#perlin-noise-card {
		video {
			max-height: 300px;
		}
	}

	#simons-trash-card {
		grid-row: span 2;
		max-height: 720px;
		img {
			height: 100%;
			width: auto;
		}
	}
}
