#fall-detection {
	.section {
		min-height: initial;
	}
	.section-p {
		margin: 0.5rem 0 1rem 0;
	}

	.section-title {
		font-size: clamp(1.3rem, 2.5vw, 5rem);
		&::after {
			display: none;
		}
	}

	.blog-image {
		img {
			width: 100%;
			height: auto;
		}
	}

	.youtube-wrapper {
		margin-top: 1rem;
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 30px;
		height: 0;
		overflow: hidden;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	#ICPR-video-container {
		background: var(--background-color2);
	}
}

@media screen and (min-width: 768px) {
	#fall-detection {
		.inline-desktop {
			display: flex;
			justify-content: space-between;
			.img-inline {
				width: 49%;
			}
		}

		#ICPR-video-container {
			iframe {
				min-height: 700px;
			}
		}
		.blog-image {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			img {
				width: 60%;
				height: auto;
			}
		}
	}
}
