#fall-detection{
  .section-p{
    margin: 0.5rem 0 1rem 0;
  }

  .section-title{
    font-size: clamp(1.3rem, 2.5vw, 5rem);
    &::after{
      display: none;
    }
  }


video{
  padding:2rem 0;
 }
}