#landing-page {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding-top: $navbar-height;

	#main-text-wrapper {
		height: 32vh;
		max-height: 400px;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;

		h2 {
			padding-bottom: 2rem;
		}

		button {
			&.button {
				border: solid 2px var(--primary-accent-color);
				border-radius: 4px;
				width: 220px;
				padding: 16px 0;
				font-size: 1.2rem;
				font-weight: 600;
				cursor: pointer;
				outline: none;
				background-color: var(--primary-accent-color);
				color: white;
				transition: background-color $tr-sp, color $tr-sp-fast ease-in-out;

				&:hover {
					background: none;
					transition: background $tr-sp-fast, color $tr-sp-fast ease-in;
					color: var(--primary-accent-color);
				}
			}
		}
	}
}

#profile-picture {
	width: clamp(280px, 35vw, 400px);

	img {
		max-width: 100%;
		height: auto;
		border-radius: 50%;
	}
}

// OPTIMIZATION SCREEN WITH MORE SQUARED ASPECT RATIO (16:9 OR BELOW)
@media only screen and (max-height: 800px) {
	#landing-page {
		flex-direction: column;
		justify-content: space-around;
		align-items: center;

		#profile-picture {
			width: clamp(230px, 25vw, 400px);
			img {
				max-width: 100%;
				height: auto;
				border-radius: 50%;
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	#landing-page {
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
}

@media only screen and (min-width: 1200px) {
	#landing-page {
		flex-direction: row;
		justify-content: space-around;
		align-items: center;

		#main-text-wrapper {
			height: 45vh;
		}
	}
}
