.navbar {
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: $navbar-height;
	width: 100%;
	padding: 0 10rem;
	background: var(--navbar-background-color);
	color: var(--text-color);
	transition: background-color $tr-sp-slow ease-in-out, color $tr-sp-slow ease-in-out, box-shadow $tr-sp-slow ease-in-out;
	box-shadow: 0px 0px 10px var(--shadow-color);
	z-index: 10;

	.brand-title {
		display: flex;
		align-items: center;
		font-size: 1.5rem;
		margin-left: 1rem;
		color: var(--primary-accent-color);

		h1:after {
			content: '.';
			color: var(--primary-accent-color);
		}

		#dark-mode-toggler {
			width: 32px;
			height: 32px;
			margin-left: 20px;
			background: url('./images/icons/dark-mode-icon.png') no-repeat center center;
			background-size: contain;
			cursor: pointer;
		}
	}

	.navbar-links {
		ul {
			display: flex;
			font-weight: 600;

			li {
				list-style: none;

				a {
					position: relative;
					text-decoration: none;
					padding: 1rem;
					display: block;

					&:hover {
						color: var(--primary-accent-color);
					}

					&:after {
						display: block;
						content: '';
						width: 0px;
						height: 2px;
						border-radius: 3px;
						background: var(--primary-accent-color);
						position: absolute;
						left: 17px;
						transition: width $tr-sp-fast ease-in-out;
					}

					&:hover:after {
						width: 35px;
						transition: width $tr-sp-fast ease-in-out;
					}

					&.active:after {
						width: 35px;
					}
				}
			}
		}
	}
	#toggle-button {
		display: none;
	}
}

//NAVBAR MEDIA QUERIES

@media screen and (max-width: 768px) {
	.navbar {
		justify-content: flex-start;
		padding: 0;

		.navbar-links {
			display: flex;
			position: absolute;
			top: $navbar-height;
			width: 100%;
			max-height: 0px;
			background-color: var(--navbar-background-color);
			font-size: 0.9rem;
			transition: max-height $tr-sp;
			z-index: 10;
			overflow: hidden;
			transition: max-height $tr-sp-slow ease-out;

			&.active {
				max-height: 600px;
				transition: max-height $tr-sp-slow ease-in;
			}

			ul {
				flex-direction: column;
				width: 100%;

				li {
					margin-left: 1rem;
				}
			}
		}

		#toggle-button {
			display: block;
			position: absolute;
			top: calc(#{$navbar-height/2} - 12px);
			right: 1rem;
			width: 30px;
			height: 21px;
			cursor: pointer;
			transform: rotate(0deg);
			transition: transform $tr-sp-slow ease-in-out;

			span {
				position: absolute;
				display: block;
				left: 0px;
				height: 3px;
				width: 100%;
				border-radius: 10px;
				background-color: var(--text-color);

				&#top-bar {
					background-color: var(--text-color);
					top: 0px;
					transform: rotate(0deg);
					transition: top $tr-sp ease-in-out, transform $tr-sp ease-in-out, background-color $tr-sp-fast ease-in-out;
				}
				&#mid-bar {
					background-color: var(--text-color);
					top: 9px;
					opacity: 1;
					left: 0px;
					transition: opacity $tr-sp ease-in-out, background-color $tr-sp-fast ease-in-out;
				}
				&#bot-bar {
					background-color: var(--text-color);
					top: 18px;
					transform: rotate(0deg);
					transition: top $tr-sp ease-in-out, transform $tr-sp ease-in-out, background-color $tr-sp-fast ease-in-out;
				}
			}

			&.clicked {
				transform: rotate(-180deg);
				span {
					&#top-bar {
						top: 9px;
						transform: rotate(45deg);
						background-color: var(--primary-accent-color);
						transition: top $tr-sp ease-in-out, transform $tr-sp ease-in-out, background-color $tr-sp-fast ease-in-out;
					}
					&#mid-bar {
						opacity: 0;
						background-color: var(--primary-accent-color);
						transition: opacity $tr-sp ease-in-out, background-color $tr-sp-fast ease-in-out;
					}
					&#bot-bar {
						top: 9px;
						transform: rotate(-45deg);
						background-color: var(--primary-accent-color);
						transition: top $tr-sp ease-in-out, transform $tr-sp ease-in-out, background-color $tr-sp-fast ease-in-out;
					}
				}
			}
		}
	}
}
