.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: $navbar-height;
	color: black;
	padding: 0 10rem;

	.brand-title {
		font-size: 1.5rem;
		margin: 0.5rem;
	}

	.navbar-links {
		ul {
			display: flex;
			font-weight: 600;

			li {
				list-style: none;

				a {
					position: relative;
					text-decoration: none;
					color: $dark-text-color;
					padding: 1rem;
					display: block;

					&:hover {
						color: $primary-accent-color;
					}

					&:after {
						display: block;
						content: '';
						width: 0px;
						height: 2px;
						border-radius: 3px;
						background: $primary-accent-color;
						position: absolute;
						bottom: -1;
						left: 17px;
						transition: width 0.3s ease-in-out;
					}

					&:hover:after {
						width: 35px;
						transition: width 0.3s ease-in-out;
					}

					&.active:after {
						width: 35px;
					}
				}
			}
		}
	}

	#toggle-button {
		display: none;
		position: absolute;
		top: calc($navbar-height/2);
		right: 1rem;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		width: 30px;
    height: 21px;

		&:hover .bar {
			background-color: $primary-accent-color;
			transition: background-color 0.3s ease;
		}

		.bar {
			position: relative;
			height: 3px;
			width: 100%;
			border-radius: 10px;
			background-color: $light-text-color;
			transition: background-color 0.3s ease;
		}
	}
}

//NAVBAR MEDIA QUERIES
@media (max-width: 768px) {
	.navbar {
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		padding: 0;
		.navbar-links {
			background-color: white;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			/* visibility: hidden; */
			position: absolute;
			top: $navbar-height;
			width: 100%;
			max-height: 0px;
			-webkit-transition: max-height 0.5s;
			transition: max-height 0.5s;
			z-index: 1;
			overflow-y: hidden;

			&.active {
				max-height: 1000px;
				/* visibility: visible; */
				-webkit-transition: max-height 0.7s;
				transition: max-height 0.7s;
			}

			ul {
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-ms-flex-direction: column;
				flex-direction: column;
				width: 100%;

				li {
					margin-left: 1rem;
				}
			}
		}

		#toggle-button {
			display: flex;
		}
	}
}
