#research {
	#fall-detection-card-container {
		.cards-container {
			.cards {
				#fall-detection-card {
					background: url('./images/research/fall-detection/posenet-on-multicam.webp');
					background-position: top;
					background-size: cover;
					background-repeat: no-repeat;
				}
			}
		}
	}
}
