#research {
	#fall-detection-card {
    background: url('./images/research/posenet-on-multicam.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
	}
}
