#simons-trash {
	.section-p {
		margin: 0.5rem 0 1rem 0;
	}

	.section-title {
		font-size: clamp(1.3rem, 2.5vw, 5rem);
		&::after {
			display: none;
		}
	}
	.blog-image {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	button {
		margin: 1rem 0 2rem 0;
	}
}

@media screen and (min-width: 768px) {
	#simons-trash {
		.content {
			margin-top: clamp(4rem, 10vh, 30rem);
			display: flex;
		}

		#written-report-section {
			padding-right: 2rem;
			display: flex;
			flex-direction: column;
		}

		#apk-section {
			padding-left: 2rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		.blog-image {
			img {
				width: 50%;
			}
		}
	}
}
