$light-text-color: #666;
$light-text-color-dm: #ecf0f1;
$h1-color: #32333c;
$h1-color-dm: white;
$background-light-color: #fbfbfb;
$background-dark-color: #222;
$primary-accent-color-dark: #2ecc71;
$primary-accent-color: #16a085;
$navbar-height: 90px;



