@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

/* Variables */
:root {
	--dark-text-color: #666;
	--light-text-color: #32333c;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

/* NAVBAR */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	color: black;
}

.brand-title {
	font-size: 1.5rem;
	margin: 0.5rem;
}

.navbar-links ul {
	display: flex;
}

.navbar-links li {
	list-style: none;
}

.navbar-links li:hover {
	background-color: #555;
}

.navbar-links li a {
	text-decoration: none;
	color: black;
	padding: 1rem;
	display: block;
}

#toggle-button-container {
	display: none;
	position: absolute;
	top: 0.75rem;
	right: 1rem;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}

#toggle-button-container .bar {
	height: 3px;
	width: 100%;
	background-color: black;
}

@media (max-width: 768px) {
	#toggle-button-container {
		display: flex;
	}

	.navbar-links {
		display: flex;
		visibility: hidden;
		position: absolute;
		top: 50px;
		width: 100%;
		transform: translateY(-100%);
		transition: all 0.1s ease;
	}

	.navbar {
		flex-direction: column;
		align-items: flex-start;
	}

	.navbar-links ul {
		flex-direction: column;
		width: 100%;
	}

	.navbar-links li {
		text-align: center;
	}

	.navbar-links.active {
		visibility: visible;
		transform: translateY(0%);
		transition: transform 0.5s ease;
	}
}

/* LANDING PAGE */

#landing-page {
	height: 95vh;
	/* background-image: url('./images/background/leaves-mobile.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#main-text-wrapper {
	margin: 9rem 0 0 1rem;
	width: 360px;
}

#main-text-wrapper h1 {
	color: var(--light-text-color);
	font-size: 3rem;
}

#main-text-wrapper h2 {
	font-weight: 400;
	color: var(--dark-text-color);
	font-size: 1.5rem;
	margin: 2rem 0 2.1rem 0;
}

#main-text-wrapper button {
	border: solid 2px darkslategray;
	border-radius: 4px;
	width: 220px;
	padding: 16px 0;
	font-size: 1.5rem;
	font-weight: 400;
	cursor: pointer;
	transition-property: background, color;
	transition: 0.1s ease-in;
}
#main-text-wrapper button {
	background-color: darkslategray;
	color: white;
}

#main-text-wrapper button:hover {
	background: none;
	transition-property: background, color;
	transition: 0.1s ease-in;
	color: darkslategray;
}

#profile-picture {
	align-self: center;
	width: 300px;
	height: 300px;
	background: url('images/profile/profile-picture.jpg') no-repeat center center;
	background-size: contain;
}
