/* ===== GOOGLE FONTS ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


/* VARIABLES */
:root{
  --header-height: 3rem;
  --font-semibold: 600;
}

/* COLORS */

:root{
  --primary-color:#1abc9c;
  --secondary-color:
}